* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1800px;
  height: 800px;
  background-color: #fff;
  padding: 20px;
  margin: 5px auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#1E3491, #263C99);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
}

.logo {
  width: 70px;
  height: 70px;
  mix-blend-mode: luminosity;
}

.perfil {
  filter: invert(1);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.search-update-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
}

.search-update-container input {
  width: 350px;
  padding: 15px;
  color: black;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 12px;
}

.search-input-wrapper {
  position: relative;
  flex: 1;
  min-width: 250px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.5;
  margin-left: 12px;
}

.search-icon img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.search-input-wrapper input {
  width: 46%;
  padding: 15px 15px 15px 40px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.task-list {
  flex: 1;
  width: 100%;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

.task-list::-webkit-scrollbar {
  width: 8px;
}

.task-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}

/* Linha da lista (cada item) */
.task-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.task-row:hover {
  background-color: #f9f9f9;
}

.task-row:last-child {
  border-bottom: none;
}

/* Cabeçalho da lista */
.task-row-header {
  display: grid;
  /* Define 5 colunas: a primeira ocupa 2 frações e as demais 1 fração, exceto a última que terá largura fixa */
  grid-template-columns: 2.7fr 1fr 1fr 1fr 135px;
  align-items: center;
  background-color: #f1f1f1;
  padding: 2px 15px;
  font-weight: lighter;
  text-align: center;
}

.task-row-header .task-stepFunction {
  border: none;
  padding: 0;
  border-radius: 0;
  color: inherit;
  min-width: auto;
  max-width: auto;
  font-size: inherit;
  color: #757575;
  font-weight: lighter;
}

/* Células (colunas) */
.task-cell {
  flex: 1;
  min-width: 140px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: rgb(117, 117, 117);
}

.task-cell.task-name {
  flex: 2;
  text-align: left;
  color: rgb(117, 117, 117);
  font-weight: lighter;
  font-size: 16px;
}

.task-cell.task-namee {
  flex: 2;
  text-align: left;
  color: black;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 10px;
  margin-right: 10px;
  padding: 12px;
  padding-right: 100px;
}

.task-cell.title {
  flex: 1;
  text-align: center;
  padding: 0 10px;
  color: rgb(117, 117, 117);
  font-weight: lighter;
  font-size: 16px;
}

.task-cell-connection {
  flex: 1;
  text-align: center;
  padding-left: 0;
  color: rgb(117, 117, 117);
  font-weight: lighter;
  font-size: 15px;
}

.task-cell-restart {
  flex: 1;
  text-align: center;
  color: rgb(117, 117, 117);
  font-weight: lighter;
  font-size: 15px;
}

.task-cell-connection button {
  padding: 14px;
  width: 100%;
  min-width: 140px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 0;
  border: 2px solid rgb(5, 129, 53);
}

.task-cell-connection button:disabled {
  cursor: default;
  opacity: 0.6;
}

.task-cell-restart button {
  padding: 14px;
  width: 100%;
  min-width: 140px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 0;
  border: 2px solid rgb(223, 223, 223);
  background-color: #f0f0f0;
  color: rgb(128, 128, 128);
}

.task-cell-restart button:disabled {
  opacity: 0.6;
  cursor: default;
}

.task-cell-restart button:not(:disabled) {
  background: linear-gradient(rgb(192, 192, 192), rgb(179, 179, 179));
  color: white;
  border: 2px solid #a8a8a8;
}

.task-cell-connection button:hover:not(:disabled) {
  opacity: 0.9;
  background-color: #bae7b3;
}

.task-cell-restart button:hover:not(:disabled) {
  background: linear-gradient(rgb(180, 180, 180), rgb(134, 134, 134));
  cursor: pointer;
  border: 2px solid #7e7e7e;
}

/* .task-row-header .task-cell:not(.task-name) {
  text-align: right;
  padding-right: 20px;
} */

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22b60e;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: 150px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#update-button {
  display: block;
  margin-right: 12px;
  padding: 12px 24px;
  font-size: 18px;    
  cursor: pointer;
  background-color: #22b60e;
  color: white;
  border: none;
  border-radius: 25px;
}

#update-button:hover {
  background-color: #189907;
}

.btn-gray {
  background-color: rgb(236, 236, 236);
  color: black;
  padding: 12px 32px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
}

.btn-green {
  background: linear-gradient(rgb(10, 161, 10), rgb(4, 131, 25));
  color: white;
  padding: 12px 32px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 12px 32px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
}

.task-stepFunction {
  border: 2px solid #e0e0e0;
  padding: 10px 25px;
  border-radius: 6px;
  color: rgb(102, 102, 102);
  min-width: 135px;
  text-align: center;
  max-width: 135px;
  font-size: 0.9em;
}

/* Modal de detalhes */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background-color: #22b60e;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #189907;
}

/* Paginação */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.arrow-button {
  padding: 4px 4px;
  font-size: 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
}

.arrow-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-container button {
  padding: 2px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
  color: black;
  border-radius: 0;
}

.pagination-container .arrow-button {
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 4px 14px;
}

.pagination-container .arrow-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination-container .arrow-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination-container button:hover {
  background-color: #f5f5f5;
}

.pagination-container button.active-page {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* Ajustes mínimos para telas menores */
/* Para tablets (até 768px) */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .search-update-container input {
    width: 100%;
  }
  .header {
    justify-content: center;
  }
  .task-cell {
    flex: 1 1 45%;
    font-size: 14px;
  }
  .task-cell-connection button,
  .task-cell-restart button {
    min-width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}

/* Para celulares (até 480px) */
@media (max-width: 480px) {
  .container {
    padding: 15px;
    margin: 10px;
  }
  .header {
    font-size: 0.9em;
  }
  .search-update-container {
    flex-direction: column;
    align-items: center;
  }
  .search-update-container input {
    width: 100%;
    max-width: 280px;
  }
  #update-button {
    width: 100%;
    margin-top: 10px;
  }
  .task-cell,
  .task-cell-connection,
  .task-cell-restart {
    font-size: 12px;
    padding: 5px;
  }
  .task-cell-connection button,
  .task-cell-restart button,
  .task-stepFunction {
    width: 150px;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    margin: 5px;
  }
  .pagination-container button,
  .arrow-button {
    padding: 1px 6px;
    font-size: 10px;
  }
}
